body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.recorderContainer,
.keyboardContainer {
    display: flex;
    justify-content: center;
}

#keyboardPanel {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

#recorderPanel {
    margin-top: 20px;
}

.keyboardKey {
    width: 90px;
    height: 90px;
    background-color: rgb(42, 182, 182);
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
    user-select: none;
    text-align: center;
}

.keyboardKey:hover {
    cursor: pointer;
}

.keyboardKey:active {
    background-color: rgb(39, 175, 175);
}